{{ define "main" }}
<header>
  {{ partial "component/navbar.html" . }}
</header>
<main id="blog" class="max-w-screen-lg mx-auto px-4">
    <div class="flex flex-row flex-wrap">
        <section class="feed w-full md:w-8/12 md:px-2">
            <header class="mb-4">
                <h1 class="text-xl md:text-4xl mb-2 font-bold">
                   {{ .Params.Subtitle }}
                </h1>
                <p class="text-sm md:text-xl">
                    {{ .Params.Description }}
                </p>
            </header>
            {{ range .Paginator.Pages }}
                {{ partial "postList.html" . }}
            {{ end }}
            {{ partial "component/pagination.html" . }}
        </section>
        <div class="w-full md:w-4/12 md:px-2">
            {{ partial "sidebar.html" . }}
        </div>
    </div>
</main>
{{ end }}
