{{ define "main" }}
<header>
  {{ partial "component/navbar.html" . }}
</header>
<main id="blog" class="px-4 mx-auto max-w-screen-lg">
    <div class="flex flex-row flex-wrap">
        <section class="w-full feed md:w-8/12 md:px-2">
            <header class="mb-4">
                <h1 class="mb-2 text-xl font-bold md:text-4xl">
                    {{ .Title }}
                </h1>
                <p class="text-sm md:text-xl">
                    {{ .Params.Description }}
                </p>
            </header>
            {{ range .Paginator.Pages }}
                {{ partial "postList.html" . }}
            {{ end }}
            {{ partial "component/pagination.html" . }}
        </section>
        <div class="w-full md:w-4/12 md:px-2">
            {{ partial "sidebar.html" . }}
        </div>
    </div>
</main>
{{ end }}
