<nav class="fixed inset-x-0 top-0 z-10 py-3 bg-white" role="Navigation" aria-label="Main Navigation">
    <div class="container flex items-center px-4 mx-auto">
        {{ if .IsHome }}
        <div class="flex flex-row items-center text-gray-800">
            <img class="fill-current injectable" src="/images/logo-mobile.svg" alt="Nurofsun" width="32">
            <h1 class="ml-3 font-bold lowercase md:text-3xl">
                {{ .Site.Title }}
            </h1>
        </div>
        {{ else }}
        <a href="{{ $.Site.BaseURL }}" title="{{ $.Site.Title }}">
            <img class="injectable" src="/images/logo-mobile.svg" alt="Nurofsun" width="32">
        </a>
        {{ end }}
        {{ partial "component/menu.html" . }}
        <button class="p-2 overflow-hidden bg-gray-700 border-none rounded-full text-gray-50 focus:outline-none hover:text-gray-50 hover:bg-gray-900 transition duration-200" 
            id="searchToggle">
            <img class="fill-current injectable" src="/icons/search.svg" alt="Search Button">
        </button>

        <!-- search container -->
        <div id="searchInputContainer" class="fixed inset-0 z-10 flex flex-col hidden bg-white">
            <button class="self-end flex-grow-0 flex-shrink float-left w-8 h-auto px-3 py-2 mx-5 text-gray-800 rounded-full focus:outline-none"
                id="searchClose">
                <span class="text-2xl font-bold text-gray-800 md:text-5xl">&times;</span>
            </button>
            <div class="w-full overflow-auto">
            {{ partial "component/searchInput.html" . }}
            </div>
        </div>
    </div>
</nav>
<!-- search for mobile -->
{{ partial "component/searchInputMobile.html" . }}
