<nav class="fixed inset-x-0 top-0 z-10 py-3 bg-white shadow-sm" role="Navigation" aria-label="Main Navigation">
    <div class="container flex items-center px-4 mx-auto">
        {{ if .IsHome }}
        <div class="flex flex-row items-center text-gray-800">
            <img class="fill-current injectable" src="/images/logo-mobile.svg" alt="Nurofsun" width="32">
            <h1 class="ml-3 font-bold lowercase md:text-3xl">
                {{ .Site.Title }}
            </h1>
        </div>
        {{ else }}
        <a href="{{ $.Site.BaseURL }}" title="{{ $.Site.Title }}">
            <img class="injectable" src="/images/logo-mobile.svg" alt="Nurofsun" width="32">
        </a>
        {{ end }}
        {{ partial "component/menu.html" . }}
        <button id="searchToggle">
            <img class="injectable -200" src="/icons/search.svg" alt="Search Button">
        </button>
        <div class="fixed inset-0 z-10 flex justify-center hidden bg-white" id="searchInputContainer">
            <button class="absolute top-0 right-0 px-3 py-2 text-gray-500" id="searchClose">
                <span class="text-4xl">&times;</span>
            </button>
            <div class="flex-grow px-4 pt-16 max-w-screen-sm">
                {{ partial "component/searchInput.html" . }}
            </div>
        </div>
    </div>
</nav>
<!-- search for mobile -->
{{ partial "component/searchInputMobile.html" . }}
