<article class="relative p-3 mb-4 overflow-hidden bg-white border-4 border-gray-800 rounded-lg shadow-lg fill-current hover:bg-gray-800 hover:text-gray-50 hover:shadow-none hover:border-0 hover:border-opacity-0 transition duration-200" 
    id="{{ .Slug }}">
    <header class="mb-3">
        <h2 class="text-lg font-bold md:text-xl">{{ .Title }}</h2>
    </header>
    <div class="flex flex-row items-center justify-between text-sm text-gray-500 attributes">
        <p class="inline-flex date">
            <span class="mr-2 icon">
                {{- $calendarIcon := resources.Get "icons/calendar.svg" -}}
                <img class="w-5 h-auto injectable" src="{{ $calendarIcon.RelPermalink }}" alt="Post Date">
            </span>
            <time>{{ .Date.Format "January 2, 2006" }}</time>
        </p>
        <p class="tag">
            {{ with .Params.Tags }}
                #{{ index . 0 }}
            {{ end }}
        </p>
    </div>
    <footer>
        <a class="absolute inset-0" href="{{ .Permalink }}" title="{{ .Title }}">
            <span class="invisible">{{ .Title }}</span>
        </a>
    </footer>
</article>
