<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- google search console verification -->
<meta name="google-site-verification" content="iXKeGcdrqxK2W4p0Iyb0angepszRsgLUlgLJLzXI678" />
<meta name="title" content="{{ .Site.Title }}">
{{- if .IsHome }}
<meta name="description" content="{{ .Site.Params.metaDescription }}">
{{ else }}
    {{- if .Params.Description }}
        <meta name="description" content="{{ .Params.Description }}">
    {{ else }}
        <meta name="description" content="{{ .Page.Summary }}">
    {{ end -}}
{{ end -}}
<meta name="keywords" content="html, css, javascript, nodejs, webdevelopment, programming">
<meta name="author" content="{{ .Site.Params.AuthorName }}">
{{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
{{- template "_internal/opengraph.html" . -}}
{{- template "_internal/twitter_cards.html" . -}}
{{- partial "seo/favicon.html" . -}}
{{- if .IsHome }}
<title>{{ .Site.Params.Subtitle }} - {{ $.Site.Title }}</title>
{{- else -}}
<title>{{ .Title }} | {{ $.Site.Title }}</title>
{{- end -}}
{{- partial "seo/schema.html" . -}}
