<section class="flex items-center h-screen md:min-h-screen md:justify-center">
    <div class="flex flex-col-reverse md:flex-row">
        <section class="w-full md:w-8/12 content">
            <h2 class="mb-4 text-4xl font-bold text-gray-800 md:text-6xl md:leading-tight">
                {{ .Site.Params.Description }}.
            </h2>
            <p class="font-light text-gray-600 subdescription md:text-xl">
                I provide and cover up programming tips mostly about web development, it just<br>
                a note for me that keep my knowledge and share it to you!
            </p>
        </section>
        <section class="w-full md:w-4/12 content">
            something
        </section>
    </div>
</section>
