<section class="relative flex flex-col-reverse items-center pt-20 md:pt-0 md:h-screen md:flex-row">
    <div class="flex-grow-0 w-full text-gray-800 hero-content md:w-7/12">
        <p class="mb-4 text-2xl font-extrabold underline uppercase md:text-6xl space-x-3">
            Hello, I'm Nurahmat
        </p>
        <h2 class="mb-2 text-xl leading-tight font-regular md:text-4xl">
            {{ .Site.Params.Description }}.
        </h2>
        <p class="mb-4 text-base font-light md:text-lg">
            Need someone to crafting your website or logo?
        </p>
        <a class="inline-block px-4 py-3 overflow-hidden text-base font-medium capitalize bg-blue-800 border-4 border-gray-300 rounded-full shadow-md md:px-4 md:py-3 md:text-xl text-gray-50 hover:bg-blue-900 focus:border-gray-800 focus:bg-blue-900 transition duration-300" 
           href="/contact" role="button">
            Send me email
        </a>
    </div>
    <div class="flex-grow-0 w-full text-gray-800 md:w-5/12">
        <img class="block w-10/12 h-auto mx-auto injectable" src="/images/banner.svg" alt="Nurahmat's Illustration">
    </div>
</section>
