<article class="mb-6" id="{{ .Title }}">
    <header>
        <h1 class="mb-4 text-2xl font-bold leading-tight md:leading-normal md:text-4xl">
            {{ .Title }}
        </h1>
    </header>
    <div class="flex flex-row items-center justify-between pb-2 mb-5 text-gray-500 border-b-2 border-gray-200 fill-current attributes">
        <div class="left">
            <p class="inline-flex items-center author">
                <img class="mr-2 injectable" src="/icons/user.svg" alt="Author Icon Post">
                <span class="mb-1"><span>{{ .Params.Author }}</span>
            </p>
            <p class="date">
                <div class="flex inline">
                    <img class="mr-2 injectable" src="/icons/calendar.svg" alt="Calendar Icon Post">
                    <time datetime="{{ .Date.Format "January 2, 2006" }}">{{ .Date.Format "January 2, 2006" }}</time>
                </div>
            </p>
        </div>
        <div class="right">
            <p class="mb-2 tag">
                {{ with .Params.Tags }}
                <a href="{{ "/tags/" | absURL }}{{ index . 0 | urlize }}" title={{ index . 0 }}>
                    #{{ index . 0 }}
                </a>
                {{ end }}
            </p>
            <p class="inline-flex readingtime">
                <span class="mr-2 icon">
                    <img class="w-5 h-auto injectable" src="/icons/time.svg" alt="Post's reading time">
                </span>
                {{ $readingTime := .ReadingTime }}
                {{ $readingTime }} min read
            </p>
        </div>
    </div>
    <div class="prose prose-sm lg:prose-xl max-w-none">
        {{ .Content }}
    </div>
    <footer>
        {{ partial "tableOfContents.html" .}}
    </footer>
</article>
