<div class="toc p-3 bg-gray-50 shadow-sm overflow-hidden rounded inline-block">
    <header class="flex flex-row items-center justify-start">
        <h3 class="m-0 p-0" style="margin: 0px; padding: 0px;">Table Of Contents</h3>
        <button id="toc-control" class="ml-5 transform transition duration-300 outline-none 
            hover:bg-gray-50 border focus:border-gray-500 overflow-hidden rounded-full">
            <img class="injectable w-8 h-auto" src="/icons/arrowdown.svg" alt="Show Content">
        </button>
    </header>
    <div id="toc-content" class="hidden">
        {{ .Page.TableOfContents }}
    </div>
</div>
